:root {
    --primary-color: #7B0C1E;
    --secondary-color: #FFFFFF;
    --text-color: #333;
    --background-color: #FFFFFF; /* Change background color to white */
    --section-background-color: #7B0C1E; /* New variable for section background color */
    --header-padding: 20px 0;
    --section-padding: 20px;
    --footer-padding: 20px 0;
    --font-family: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color); /* Set to white */
    color: var(--text-color);
    margin: 0;
    padding: 0;
    padding-bottom: 100px; /* Add padding to the bottom to ensure content is not hidden by the footer */
}

section {
    padding: var(--section-padding);
    margin: 20px;
    background-color: var(--section-background-color); /* Use the new section background color */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: var(--secondary-color); /* Ensure H1 is visible */
}

h1 {
    color: var(--primary-color); /* Change H1 color */
    margin-bottom: 15px;
}

h2 {
    color: var(--primary-color);
    margin-bottom: 15px;
}
